@import "tailwindcss";

:root {
  --color-harrys-navy: #112142;
  --color-harrys-orange: #ff6a13;
  --color-harrys-cream: #fffdf5;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fffdf5;
}

/* Custom button "lift" effect */
.harrys-shadow {
  box-shadow: 4px 4px 0px 0px rgba(17, 33, 66, 1);
}

.harrys-shadow:hover {
  box-shadow: 2px 2px 0px 0px rgba(17, 33, 66, 1);
  transform: translate(2px, 2px);
}